.file_list {

}
.helpBar {
    margin-top: 30px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.helpBar p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.p {
    margin-left: 100px;
}
.helpBar_right {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 120px 130px;
}
.helpBar_right p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hr {
    border: 1px solid #566885;
}
.not_file {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
}
.double {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.triple {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

