.info_display {
    width: 200px;
    height: 100px;
    position: absolute;
    background: #ffffff;
    border-radius: 8px;
    left: -20px;
    top: 43px;
}
.info {
    color: black;
    margin: 10px 10px;
    justify-content: center;
    align-items: center;

}